<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Actividades</li>
    </ol>
</nav>

<div class="container mt-5 container-fixed-footer">

  <div class="row">
      <div class="col-sm-6 mb-3">
          <div class="card text-dark bg-light">
              <div class="card-body">
                <h5 class="card-title"><strong>Errores</strong></h5>
                  <p class="card-text">Selecciona el error que se encuentre en la oración presentada</p>
                  <button [routerLink]="['mistake']" style="background-color: #00bfff; border: 0;" class="btn btn-primary btn-block">Pruébalo</button>
              </div>
          </div>
      </div>
      <div class="col-sm-6 mb-3">
          <div class="card text-dark bg-light">
              <div class="card-body">
                  <h5 class="card-title"><strong>Selección simple</strong></h5>
                  <p class="card-text">Selecciona la palabra que haga falta para completar la oración</p>
                  <button [routerLink]="['selection']" style="background-color: #00bfff; border: 0;" class="btn btn-primary btn-block">Pruébalo</button>
              </div>
          </div>
      </div>
  </div>
    
</div>