

<div class="container mt-5">

	<!--<alert *ngIf="loading" type="info">
	  <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
	</alert>-->
	<mat-spinner *ngIf="loading" class="spinner" style="margin:0 auto;" color='accent'>
	</mat-spinner>

  	<div *ngIf="!loading&&!result&&activities.length>0" class="row justify-content-center">
    	<div class="col-md-8 mb-3">
      		<div class="card text-center">
      			<div class="card-header">
		            <strong>Seleccione la respuesta correcta</strong>
		        </div>
		        <div class="card-body">
					
					<div class="mb-3">

						<ng-container *ngFor="let word of activities[counter].splittedString">
							
						    <span *ngIf="!word.hidden">{{word.word}}</span>
						    <span *ngIf="word.hidden&&selectedAnswers[counter]">{{selectedAnswers[counter].word}}</span>

						    <span *ngIf="word.hidden&&!selectedAnswers[counter]" style="visibility:hidden;">{{word.word}}</span>
						  	
						</ng-container>
					</div>


					<!--<div class="col-12 mt-3">
						<div *ngFor="let word of activities[counter].possibleAnswers | shuffle" class="btn-group" role="group" aria-label="Basic example">
								  	
							<button type="button" class="btn btn-secondary submitButton mb-2" color="accent" (click)="selectAnswer(word)">{{ word.word }}</button>
								
						</div>
					</div>-->

					<div class="col mb-3" aria-label="Basic example">
								  	
						<button *ngFor="let word of activities[counter].possibleAnswers | shuffle" type="button" class="btn btn-secondary submitButton mb-2" [ngClass]="{'selected-button': !word.clickeable}" color="accent" (click)="selectAnswer(word)">{{ word.word }}</button>
						
					</div>
		    		<div>
			        	<button *ngIf="selectedAnswers[counter]" class="btn btn-primary" type="button" (click)="next()">Siguiente</button>
			        	<button *ngIf="!selectedAnswers[counter]" class="btn btn-primary" type="button" disabled>Siguiente</button>
		        	</div>
		        </div>
      		</div>
    	</div>
	</div>

	<div *ngIf="!loading&&!result&&activities.length<1">

		No hay actividades de errores disponible
		
	</div>

	<!--<div *ngIf="!loading&&result">
	
		<div class="col-sm-12 mb-3">
			<ul class="list-group" *ngFor="let activity of activities; let i = index">

				<li *ngIf="selectedAnswers[i].correct" class="list-group-item list-group-item-success">
					<h5>Correcto!!!!!</h5>
				</li>
			  
				<li *ngIf="!selectedAnswers[i].correct" class="list-group-item list-group-item-danger">
					<div class="d-flex w-100 justify-content-between">
			      		
			      		<small class="mb-1">Respuesta: {{selectedAnswers[i].word}}</small>

			      		<small>Correct Answer: {{activity.possibleAnswers[0].word}}</small>
			    	</div>
			    	<p class="mb-1">Texto completo: {{activity.fullString}}</p>
			    	<p class="mb-1">Nota importante: {{activity.comment}}</p>
			    	<small>Donec id elit non mi porta.</small>
				</li>

			</ul>
		</div>
		
	</div>-->

	<div *ngIf="!loading&&result">
		
		<div class="row">
			
			<div class="col-sm-12 mb-3">
				<ul class="list-group" *ngFor="let activity of activities; let i = index">

					<li *ngIf="selectedAnswers[i].correct" class="list-group-item list-group-item-success">
						<h5>Correcto!!!!!</h5>
					</li>
				  
					<li *ngIf="!selectedAnswers[i].correct" class="list-group-item list-group-item-danger">
						<div class="d-flex w-100 justify-content-between">
				      		<!--<h5 class="mb-1">Respuesta: {{selectedAnswers[i].word}}</h5>-->
				      		<small class="mb-1">Respuesta: {{selectedAnswers[i].word}}</small>

				      		<small>Correct Answer: {{activity.possibleAnswers[0].word}}</small>
				    	</div>
				    	<p class="mb-1">Texto completo: {{activity.fullString}}</p>
				    	<p class="mb-1">Nota importante: {{activity.comment}}</p>
				    	<small>Donec id elit non mi porta.</small>
					</li>

				</ul>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col links">
				<button [routerLink]="['/activities']" class="btn btn-primary message" type="button">Volver a actividades</button>
			</div>
			<div class="col links">
				<button [routerLink]="['/profile']" class="btn btn-primary message" type="button">Ir a perfil</button>		
			</div>
		</div>
		
	</div>
    
</div>