<div class="container mt-5 container-fixed-footer">

	<mat-spinner *ngIf="loading&&!preview" class="spinner" style="margin:0 auto;" color='accent'>
	</mat-spinner>

  	<div *ngIf="!loading&&!result&&activities.length>0&&!preview" class="row justify-content-center">
    	<div class="col-md-8 mb-3">
      		<div class="card text-center">
      			<div class="card-header">
		            <strong>Selecciona la respuesta correcta</strong>
		        </div>
		        <div class="card-body">
					
					<div class="col mb-3">

						<ng-container *ngFor="let word of activities[counter].splittedString">
							
						    <span class="activity-text" *ngIf="!word.hidden">{{word.word}}</span>
						    <span class="activity-text" *ngIf="word.hidden&&selectedAnswers[counter]" class="selected-word">{{selectedAnswers[counter].word}}</span>

						    <span *ngIf="word.hidden&&!selectedAnswers[counter]">{{renderSpace(word.word)}}</span>
						  	
						</ng-container>
					</div>


					<!--<div class="col mb-3">
								  	
						<button *ngFor="let word of activities[counter].possibleAnswers | shuffle" type="button" class="btn btn-secondary mb-2" [ngClass]="{'selected-button': !word.clickeable}" (click)="selectAnswer(word)">{{ word.word }}</button>
						
					</div>-->

					<div class="col mb-3" >
						<ng-container *ngFor="let word of activities[counter].possibleAnswers | shuffle">
							<button type="button" class="btn btn-secondary mb-2" [ngClass]="{'selected-button': !word.clickeable}" color="accent" (click)="selectAnswer(word)">{{ word.word }}</button>
						</ng-container>
					</div>

		    		<div>
			        	<button *ngIf="selectedAnswers[counter]" class="btn btn-success btn-primary" type="button" (click)="next()">Siguiente</button>
			        	<button *ngIf="!selectedAnswers[counter]" class="btn btn-success btn-primary" type="button" disabled>Siguiente</button>
		        	</div>
		        </div>
      		</div>
    	</div>
	</div>

	<div *ngIf="!loading&&!result&&activities.length<1&&!preview">

		No hay actividades de errores disponible
		
	</div>

	<div *ngIf="!loading&&result">
		
		<div class="row">
			
			<div class="col-sm-12 mb-3">
				<ul class="list-group" *ngFor="let activity of activities; let i = index">

					<li *ngIf="selectedAnswers[i].correct" class="list-group-item list-group-item-success mb-1">
						<div class="text-center">
							<h4 *ngIf="activity.difficulty>0.5">¡Impresionante!</h4>
							<h4 *ngIf="activity.difficulty<0.5">¡Acertaste!</h4>
						</div>
						<hr>
						<h5 class="mb-1"><strong>Tu respuesta: {{selectedAnswers[i].word}}</strong></h5>
						<h5 class="mb-1">Texto completo: {{activity.fullString}}</h5>
					</li>
				  
					<li *ngIf="!selectedAnswers[i].correct" class="list-group-item list-group-item-danger mb-1">
						<div class="text-center">
							<h4 *ngIf="activity.difficulty>0.5">¡Casi lo tienes!</h4>
							<h4 *ngIf="activity.difficulty<0.5">¡Sigue intentando!</h4>
						</div>
						<hr>
						<div class="d-flex w-100 justify-content-between">
				      		<!--<h5 class="mb-1">Respuesta: {{selectedAnswers[i].word}}</h5>-->
				      		<h5 class="mb-1">Tu respuesta: {{selectedAnswers[i].word}}</h5>

				      		<h5><strong>Respuesta correcta: {{activity.possibleAnswers[0].word}}</strong></h5>
				    	</div>
				    	<h5 class="mb-1">Texto completo: {{activity.fullString}}</h5>
				    	<h5 class="mb-1">Nota importante: {{activity.comment}}</h5>
					</li>

				</ul>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col links">
				<button [routerLink]="['/activities']" class="btn btn-primary message" type="button">Volver a actividades</button>
			</div>
			<div class="col links">
				<button [routerLink]="['/profile']" class="btn btn-primary message" type="button">Ir a perfil</button>		
			</div>
		</div>
		
	</div>

	<div *ngIf="preview">
		<div class="row justify-content-center">

			<div class="col-md-8">

				<div class="card">
				  	<div class="card-body">
				  		<h4 class="card-title text text-center mb-3"><strong>Instrucciones</strong></h4>
				  		<ul class="list-group list-group-flush mb-3">
						  	<li class="list-group-item d-flex">
						    	<span class="badge badge-primary badge-pill align-self-center mr-4">1</span>
						    	Debes responder las siguientes 10 actividades para finalizar la sesión
						  	</li>
						  	<li class="list-group-item d-flex">
						    	<span class="badge badge-primary badge-pill align-self-center mr-4">2</span>
						    	Lee el texto que se presenta y analiza cuál es la palabra que falta
						  	</li>
						  	<li class="list-group-item d-flex">
						    	<span class="badge badge-primary badge-pill align-self-center mr-4">3</span>
						    	Luego, presiona el botón correspondiente a la palabra que completa correctamente la oración
						  	</li>
						  	<li class="list-group-item d-flex">
						    	<span class="badge badge-primary badge-pill align-self-center mr-4">4</span>
						    	Presiona el botón "Siguiente" para avanzar a la próxima pregunta
						  	</li>
						</ul>
						<div class="alert alert-info mb-3" role="alert">
						  <strong>Importante</strong>: Recuerda que no puedes saltar actividades
						</div>
						<div class="message">
							
				    		<button class="btn btn-primary" (click)="preview=false">Entendido</button>

						</div>
				  	</div>
				</div>
				
			</div>
			
		</div>
	</div>
    
</div>