<div *ngIf="activityType === 'Mistake'">
    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card">
                  <div class="card-body">
                      <h4 class="card-title text text-center mb-3"><strong>Instrucciones</strong></h4>
                      <ul class="list-group list-group-flush mb-3">
                          <li class="list-group-item d-flex">
                            <span class="badge badge-primary badge-pill align-self-center mr-4">1</span>
                            Debes responder las siguientes 10 actividades para finalizar la sesión
                          </li>
                          <li class="list-group-item d-flex">
                            <span class="badge badge-primary badge-pill align-self-center mr-4">2</span>
                            Lee el texto que se presenta e identifica el error
                          </li>
                          <li class="list-group-item d-flex">
                            <span class="badge badge-primary badge-pill align-self-center mr-4">3</span>
                            Luego, presiona el botón correspondiente a la palabra que esté mal escrita
                          </li>
                          <li class="list-group-item d-flex">
                            <span class="badge badge-primary badge-pill align-self-center mr-4">4</span>
                            Presiona el botón "Siguiente" para avanzar a la próxima pregunta
                          </li>
                    </ul>
                    <div class="alert alert-info mb-3" role="alert">
                      <strong>Importante</strong>: Recuerda que no puedes saltar actividades
                    </div>
                    <div class="message">
                        
                        <button class="btn btn-primary" (click)="handleClick()">Entendido</button>

                    </div>
                  </div>
            </div>
            
        </div>
        
    </div>
</div>

<div *ngIf="activityType === 'Selection'">
    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card">
                  <div class="card-body">
                      <h4 class="card-title text text-center mb-3"><strong>Instrucciones</strong></h4>
                      <ul class="list-group list-group-flush mb-3">
                          <li class="list-group-item d-flex">
                            <span class="badge badge-primary badge-pill align-self-center mr-4">1</span>
                            Debes responder las siguientes 10 actividades para finalizar la sesión
                          </li>
                          <li class="list-group-item d-flex">
                            <span class="badge badge-primary badge-pill align-self-center mr-4">2</span>
                            Lee el texto que se presenta y analiza cuál es la palabra que falta
                          </li>
                          <li class="list-group-item d-flex">
                            <span class="badge badge-primary badge-pill align-self-center mr-4">3</span>
                            Luego, presiona el botón correspondiente a la palabra que completa correctamente la oración
                          </li>
                          <li class="list-group-item d-flex">
                            <span class="badge badge-primary badge-pill align-self-center mr-4">4</span>
                            Presiona el botón "Siguiente" para avanzar a la próxima pregunta
                          </li>
                    </ul>
                    <div class="alert alert-info mb-3" role="alert">
                      <strong>Importante</strong>: Recuerda que no puedes saltar actividades
                    </div>
                    <div class="message">
                        
                        <button class="btn btn-primary" (click)="handleClick()">Entendido</button>

                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>