/* Resets */
.custom-hr {
 margin-left: 0;
 max-width: 40px;
}

/* Jumbotron (hero) */
.jumbotron {
	position: relative;
 	background: url(../../assets/images/Jumbo-02.jpg)
             no-repeat bottom center / cover;
}
.jumbotron, .container {
	padding: 75px 0;
}

.jumbotron, h1, .lead {
	color: #fff;
}

.jumbotron::before {
  	position: absolute;
  	content: '';
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background: rgba(0, 0, 0, .5);
}

/* Custom button */
.btn-primary {
	background: #1096fc;
	border: 0;
}

a.btn-primary:hover {
	background: darken(#1096fc, 7%);
}



/* Custom button */
/*.btn-primary {
 background: #1096fc;
 border: 0;
 
 &:hover {
  background: darken(#1096fc, 7%);
 }
}*/

.feature-icon {

	max-width: 200px;
}


.activities {
	color: black;
}

#middle-row {

	margin-top: 100px;
}

#last-row {

	margin-top: 100px;
}

#repeat-icon {

	max-width: 150px;
}



