/*.container{
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-message {
	text-align: center;
}

.container-fixed-footer
{
    margin-bottom:55px;
}