<nav *ngIf="isAdminLoggedIn()" class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/admin']">Acentos</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed =!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin/activities']">Actividades</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin/users']">Usuarios</a>
      </li>      
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isAdminLoggedIn()">
        <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ fullAdminName() }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" *dropdownMenu>
                <button class="dropdown-item" type="button" (click)="adminLogout()">Cerrar Sesión</button>
            </div>
        </li>
    </ul>
  </div>
</nav>

<nav *ngIf="!isAdminLoggedIn()" class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">Acentos</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed =!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/activities']">Actividades</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn()">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/signin']">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/signup']">Registrarse</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn()">
        <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ fullName() }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" *dropdownMenu>
                <button class="dropdown-item" type="button" [routerLink]="['/profile']">Perfil</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" type="button" (click)="logout()">Cerrar Sesión</button>
            </div>
        </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>

<footer class="card-footer fixed-bottom bg-dark text-white"><div>Jesús Pernía, 2018</div></footer>