<!--The content below is only a placeholder and can be replaced.-->
<!--Verificar de que si (no) hay sesión iniciada por usuario admin se muestre un nav distinto-->

<nav *ngIf="isAdminLoggedIn()" class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/admin']">Acentos</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed =!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin']">Dashboard</a>
      </li>-->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin/activities']">Actividades</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin/users']">Usuarios</a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" *dropdownMenu>
          <a class="dropdown-item" href="#">Admin</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
    </ul>
    <!--<ul class="navbar-nav ml-auto" *ngIf="!isAdminLoggedIn()">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/signin']">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/signup']">Registrarse</a>
        </li>
    </ul>-->
    <ul class="navbar-nav ml-auto" *ngIf="isAdminLoggedIn()">
        <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ fullAdminName() }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" *dropdownMenu>
                <button class="dropdown-item" type="button" [routerLink]="['/profile']">Perfil</button>
                <button class="dropdown-item" type="button" [routerLink]="['/statistics']">Estadistica</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" type="button" (click)="adminLogout()">Cerrar Sesión</button>
            </div>
        </li>
    </ul>
  </div>
</nav>

<nav *ngIf="!isAdminLoggedIn()" class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">Acentos</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed =!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isLoggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/activities']">Activities</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/contact']">Contacto</a>
      </li>
      
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn()">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/signin']">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/signup']">Registrarse</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn()">
        <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ fullName() }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" *dropdownMenu>
                <button class="dropdown-item" type="button" [routerLink]="['/profile']">Perfil</button>
                <button class="dropdown-item" type="button" [routerLink]="['/statistics']">Estadistica</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" type="button" (click)="logout()">Cerrar Sesión</button>
            </div>
        </li>
    </ul>
  </div>
</nav>

<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" [collapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Left</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//codeply.com">Codeply</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/signup']">Signup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/signin']">Signin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" [routerLink]="['/']">Acentos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2" (click)="isCollapsed =!isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" [collapse]="isCollapsed">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Right</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>-->

<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    
    <div class="order-0">
        <a class="navbar-brand mx-auto" href="#">Navbar 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Left</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//codeply.com">Codeply</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
    
    <div class="navbar-collapse collapse w-100 order-2 dual-collapse2">
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn()">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/signin']">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/signup']">Registrarse</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn()">
            <li class="nav-item dropdown mr-5" dropdown>
              <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ fullName() }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" *dropdownMenu>
                <a class="dropdown-item" [routerLink]="['/profile']" href="#">Perfil</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()" href="#">Cerrar Sesión</a>
              </div>
            </li>
        </ul>

    </div>
</nav>-->
<router-outlet></router-outlet>

<footer class="card-footer fixed-bottom bg-dark text-white"><div>Jesús Pernía, 2018</div></footer>