<div class="container mt-5 container-fixed-footer">
	<mat-spinner *ngIf="loading" class="spinner" style="margin:0 auto;" color='accent'>
	</mat-spinner>

	<div *ngIf="!loading">
		
		<!--<ul class="list-group">
		  <li class="list-group-item" *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }"> {{user.userName}} </li>
		</ul>-->

		<ul class="list-group mb-3">
		  <!--<li class="list-group-item" *ngFor="let a of array | paginate: { itemsPerPage: 10, currentPage: p }"> {{a}} </li>-->

		  <li *ngFor="let activity of activities | paginate: { itemsPerPage: 10, currentPage: p }" class="list-group-item list-group-item-action flex-column align-items-start">
		    <h5 class="mb-1">{{activity.fullString}}</h5>
		    <div class="d-flex w-100 justify-content-between">
		      <h6 class="mt-2">Type: {{activity.type}}</h6>
		      <div>
			      <button [routerLink]="['updateMistakeActivity', activity._id]" class="btn btn-primary btn-sm">Modificar</button>
			      <button class="btn btn-primary btn-sm">Eliminar</button>
		      	
		      </div>

		    </div>
		    
		  </li>

		</ul>
		               
		<pagination-controls (pageChange)="p = $event"></pagination-controls>
	</div>
</div>