<div class="container mt-5">

  <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">Agregar Actividades</div>
            <div class="card-body">
              <h5 class="card-title">Dark Card Title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a [routerLink]="['activities']" class="btn btn-primary">Pruebalo</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">Control de Usuarios</div>
            <div class="card-body">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a [routerLink]="['users']" class="btn btn-primary">Pruebalo</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">Control de Actividades</div>
            <div class="card-body">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a [routerLink]="['activities/activityList']" class="btn btn-primary">Pruebalo</a>
          </div>
        </div>
      </div>
  </div>
    
</div>