<div class="container mt-5">

  <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">Nueva actividad de identificar error</div>
            <div class="card-body">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a [routerLink]="['mistakesActivity']" class="btn btn-primary">Pruebalo</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">Nueva actividad de selección simple</div>
            <div class="card-body">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a [routerLink]="['newSelectionActivity']" class="btn btn-primary">Pruebalo</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">Modificar o eliminar actividades</div>
            <div class="card-body">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a [routerLink]="['activityList']" class="btn btn-primary">Pruebalo</a>
          </div>
        </div>
      </div>
  </div>


</div>