/*.container{
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-message {
	text-align: center;
}

