<div class="container mt-5">
   <div class="row">
    <div class="col-sm-6 mb-3">
      <div class="card">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Agregar nuevas actividades</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a [routerLink]="['activities']" class="btn btn-primary">Pruebalo</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3">
      <div class="card">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">NewSelectionActivity</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a [routerLink]="['activities/newSelectionActivity']" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">Header1</div>
            <div class="card-body">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a [routerLink]="['activities']" class="btn btn-primary">Pruebalo</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">Header2</div>
            <div class="card-body">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a [routerLink]="['activities']" class="btn btn-primary">Pruebalo</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">Header3</div>
            <div class="card-body">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a [routerLink]="['activities']" class="btn btn-primary">Pruebalo</a>
          </div>
        </div>
      </div>
  </div>
    
</div>