<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Panel de control</li>
    </ol>
</nav>

<div class="container mt-5 container-fixed-footer">

  <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card text-dark bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title"><strong>Control de Actividades</strong></h5>
              <p class="card-text">Aquí puedes agregar, modificar o eliminar actividades</p>
              <button [routerLink]="['activities']" style="background-color: #00bfff; border: 0;" class="btn btn-primary btn-block">Ir</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card text-dark bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title"><strong>Control de Usuarios</strong></h5>
              <p class="card-text">Aquí puedes agregar, modificar o eliminar usuarios</p>
              <button [routerLink]="['users']" style="background-color: #00bfff; border: 0;" class="btn btn-primary btn-block">Ir</button>
          </div>
        </div>
      </div>
  </div>
    
</div>