<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Control de usuarios</li>
    </ol>
</nav>

<div class="container mt-5 container-fixed-footer">

  <div class="row">
      
      <div class="col-md-6 mb-3">
        <div class="card text-dark bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title"><strong>Agregar usuario estudiante</strong></h5>
              <p class="card-text">Agrega al sistema nuevos usuarios de tipo estudiante</p>
              <button [routerLink]="['signup']" style="background-color: #00bfff; border: 0;" class="btn btn-primary btn-block">Pruebalo</button>
            </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card text-dark bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title"><strong>Modificar y eliminar usuarios</strong></h5>
              <p class="card-text">Edita o elimina usuarios previamente guardados en el sistema</p>
              <button [routerLink]="['userList']" style="background-color: #00bfff; border: 0;" class="btn btn-primary btn-block">Pruebalo</button>
            </div>
        </div>
      </div>
  </div>


</div>