<div class="container mt-5">

	<mat-spinner *ngIf="loading" class="spinner" style="margin:0 auto;" color='primary'>
	</mat-spinner>

	<div *ngIf="!loading">

		<div class="row justify-content-center">

			<div class="col-md-5">
			
				<form [formGroup]="userUpdateForm" (ngSubmit)="onSubmit()">
					<div class="form-row">
						<div class="form-group col-sm-6">
							<label for="first_name">Nombre</label>
							<input class="form-control" placeholder="Nombre" formControlName="firstName" id="firstName" tooltip="Sólo letras. Máximo 50 caracteres" onkeydown="if (event.keyCode == 13) return false">
							<div *ngIf="userUpdateForm.controls['firstName'].hasError('maxlength')" class="alert alert-warning mb-2" role="alert">
								  ¡Tienes más de los caracteres permitidos!
							</div>
							<div *ngIf="userUpdateForm.controls['firstName'].hasError('pattern')" class="alert alert-warning mb-2" role="alert">
								  ¡Sólo debes ingresar letras!
							</div>
						</div>
						<div class="form-group col-sm-6">
							<label for="first_name">Apellido</label>		
							<input class="form-control" placeholder="Apellido" formControlName="lastName" id="lastName" tooltip="Sólo letras. Máximo 50 caracteres" onkeydown="if (event.keyCode == 13) return false">
							<div *ngIf="userUpdateForm.controls['lastName'].hasError('maxlength')" class="alert alert-warning mb-2" role="alert">
								  ¡Tienes más de los caracteres permitidos!
							</div>
							<div *ngIf="userUpdateForm.controls['lastName'].hasError('pattern')" class="alert alert-warning mb-2" role="alert">
								  ¡Sólo debes ingresar letras!
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="first_name">Grado</label>
							<!--<input class="form-control" placeholder="Grado" formControlName="grade" id="grade">-->
							<select class="custom-select form-control" formControlName="grade" id="grade" tooltip="Selecciona el grado que estudias">
								<option></option>
								<option value="1ro">1ro</option>
								<option value="2do">2do</option>
								<option value="3ro">3ro</option>
								<option value="4to">4to</option>
								<option value="5to">5to</option>
								<option value="6to">6to</option>

							</select>
						</div>
						<div class="form-group col-md-9">
							<label for="first_name">Escuela</label>		
							<input class="form-control" placeholder="Escuela" formControlName="school" id="school" tooltip="Máximo 100 caracteres" onkeydown="if (event.keyCode == 13) return false">
							<div *ngIf="userUpdateForm.controls['school'].hasError('maxlength')" class="alert alert-warning mb-2" role="alert">
								  ¡Tienes más de los caracteres permitidos!
							</div>
						</div>
					</div>
					<fieldset class="form-group form-row">
						<div class="col-sm-12">
							<label for="user_name">Username</label>
							<input class="form-control" placeholder="Nombre de Usuario" formControlName="userName" id="userName" tooltip="Máximo 20 caracteres" onkeydown="if (event.keyCode == 13) return false">
							<div *ngIf="userUpdateForm.controls['userName'].hasError('maxlength')" class="alert alert-warning mb-2" role="alert">
								  ¡Tienes más de los caracteres permitidos!
							</div>
						</div>
					</fieldset>
					<fieldset class="form-group form-row">
						<div class="col-sm-12">
							<label for="password">Password</label>
							<input type="password" class="form-control" placeholder="Contraseña" formControlName="password" id="password" tooltip="Máximo 10 caracteres" onkeydown="if (event.keyCode == 13) return false">
							<div *ngIf="signupForm.controls['password'].hasError('maxlength')" class="alert alert-warning mb-2" role="alert">
								  ¡Tienes más de los caracteres permitidos!
							</div>
						</div>
					</fieldset>
					<div class="row submit-button">
						<button type="submit" class="btn btn-primary submitButton" color="accent">Modificar usuario</button>		
					</div>
				</form>

			</div>
		</div>
	</div>

</div>