<div class="container mt-5 container-fixed-footer">
	<mat-spinner *ngIf="loading" class="spinner" style="margin:0 auto;" color='accent'>
	</mat-spinner>

	<div *ngIf="!loading">
		
		<!--<ul class="list-group">
		  <li class="list-group-item" *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }"> {{user.userName}} </li>
		</ul>-->

		<ul class="list-group mb-3">
		  <!--<li class="list-group-item" *ngFor="let a of array | paginate: { itemsPerPage: 10, currentPage: p }"> {{a}} </li>-->

		  <li *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }" class="list-group-item list-group-item-action flex-column align-items-start">
		    <h5 class="mb-1">{{user.firstName}} {{user.lastName}}</h5>
		    <div class="d-flex w-100 justify-content-between">
		      <h6 class="mt-2">Username: {{user.userName}}</h6>
		      <div>
			    	<button [routerLink]="['updateUser', user._id]" class="btn btn-primary btn-sm mb-1">Modificar</button>

			    	<button type="button" class="btn btn-primary btn-sm mb-1" (click)="openModal(template)">Eliminar</button>
				    <ng-template class="mt-5" #template>
				      <div class="modal-body text-center">
				        <p>¿Está seguro que desea eliminar la actividad?</p>
				        <button type="button" class="btn btn-default" (click)="confirm(user._id)" >Sí</button>
				        <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
				      </div>
				    </ng-template>

		      	
		      </div>

		    </div>
		    
		  </li>

		</ul>
		               
		<pagination-controls (pageChange)="p = $event"></pagination-controls>
	</div>
</div>