<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Lista de usuarios</li>
    </ol>
</nav>

<div class="container mt-5 container-fixed-footer">
	<mat-spinner *ngIf="loading" class="spinner" style="margin:0 auto;" color='primary'>
	</mat-spinner>

	<div *ngIf="!loading&&users.length>0">
		
		

		<div class="mb-2">
	        
	        <input type="text" class="form-control" placeholder="Filtrar usuarios por: nombre, apellido, nombre de usuario, escuela, grado" [(ngModel)]="filter">
	        
	        
	    </div>

		<ul class="list-group mb-3">

			<li *ngFor="let user of users | filterBy: ['firstName', 'lastName' ,'userName', 'grade', 'school']: filter | paginate: { itemsPerPage: 2, currentPage: p }" class="list-group-item list-group-item-action flex-column align-items-start">
			    <h5><strong>{{user.firstName}} {{user.lastName}}</strong></h5>
			    <h6 class="mt-3">Nombre de usuario: {{user.userName}}</h6>
			    <h6 class="mt-3">Escuela: {{user.school}}</h6>
			    <div class="d-flex w-100 justify-content-between">
			      <h6 class="mt-2">Grado: {{user.grade}}</h6>
			      <div>
				    	<button [routerLink]="['updateUser', user._id]" class="btn btn-primary btn-sm mb-1">Modificar</button>

				    	<button type="button" class="btn btn-danger btn-sm mb-1" (click)="openModal(template)">Eliminar</button>
					    <ng-template class="mt-5" #template>
					      <div class="modal-body text-center">
					        <p>¿Estás seguro que deseas eliminar al usuario {{user.userName}}?</p>
					        <button type="button" class="btn btn-default" (click)="confirm(user._id)" >Sí</button>
					        <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
					      </div>
					    </ng-template>

			      	
			      </div>

			    </div>
			    
			</li>

		</ul>
		               
		<pagination-controls (pageChange)="p = $event"
							maxSize="9"
		                    directionLinks="true"
		                    autoHide="true"
		                    previousLabel="Anterior"
		                    nextLabel="Siguiente"
		                    screenReaderPaginationLabel="Paginador"
		                    screenReaderPageLabel="página"
		                    screenReaderCurrentLabel="Estás en la página">
			
		</pagination-controls>
	</div>

	<div *ngIf="!loading&&users.length<1">
		<div class="alert alert-info" role="alert">
			¡No hay usuarios registrados!

		</div>

		<div class="row mt-5 links">
			<div class="col links">
				<button [routerLink]="['/admin']" class="btn btn-primary text-center" type="button">Volver a panel de control</button>
			</div>
		</div>
	</div>

</div>