.container {
    margin-bottom:60px;

}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fixed-footer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-button {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.message {
    text-align: center;
}