<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Modificación de actividad</li>
    </ol>
</nav> 

<div class="container mt-4 container-fixed-footer">
	<mat-spinner *ngIf="loading" class="spinner" style="margin:0 auto;" color='primary'>
	</mat-spinner>

	<div *ngIf="!loading">
		
		<form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
			<div class="input-group mb-2" tooltip="Dificultad de la actividad">
				<div class="input-group-prepend">
			    	<label class="input-group-text" for="inputGroupSelect01">Dificultad&nbsp;&nbsp;&nbsp;&nbsp;</label>
			  	</div>
				<select class="custom-select" formControlName="difficulty" id="inputGroupSelect01">
					<!--<option selected>Seleccionar...</option>-->
					<option></option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>

				</select>
			</div>

			<div class="input-group mb-2" tooltip="Comentario mostrado al estudiante en caso de responder incorrectamente. Máximo 100 caracteres">
				<div class="input-group-prepend">
					<span class="input-group-text">Comentario</span>
					<span class="input-group-text"><code>{{comment.value.length}}/100</code></span>
				</div>
				<textarea class="form-control" aria-label="With textarea" formControlName="comment" #comment onkeydown="if (event.keyCode == 13) return false"></textarea>
			</div>

			<div *ngIf="activityForm.controls['comment'].hasError('maxlength')" class="alert alert-warning mb-2" role="alert">
				  ¡Tienes más de los caracteres permitidos!
			</div>

			<div class="input-group mb-2">
			  	<textarea tooltip="Texto que conformará la actividad. Debe llevar una palabra mal escrita. Presionar el botón 'Dividir' tantas veces se quiera para separar el texto en palabras. Máximo 100 caracteres" class="form-control" placeholder="Ingrese texto" aria-label="With textarea" formControlName="fullString" #fullString onkeydown="if (event.keyCode == 13)return false"></textarea>
				<div class="input-group-append">
				   	<button class="btn btn-primary btn-sm" type="button" color="accent" (click)="stringTokenizer()">Dividir</button>
				</div>
			</div>

			<div *ngIf="activityForm.controls['fullString'].hasError('maxlength')" class="alert alert-warning mb-2" role="alert">
				  ¡Tienes más de los caracteres permitidos!
			</div>

			<div *ngIf="splittedString" class="clearfix mb-2">
				<div class="row" style="text-align: center;">
				    <div class="col">
				       	<h6>Selecciona la respuesta correcta</h6>
					    <ng-container *ngFor="let word of splittedString">
					        <button *ngIf="word.clickeable" type="button" class="btn btn-secondary submitButton mb-2" [ngClass]="{'selected-button': word.hidden}" color="accent" (click)="hideAnswer(word)">{{ word.word }}</button>
					    </ng-container>	
				    </div>
	    		</div>
			</div>

			<div *ngIf="correctAnswer" class="clearfix text-center">
				<h6>Ingresa las respuestas posibles</h6>

				<div class="input-group mb-2">
					<input type="text" class="form-control" placeholder="Respuesta posible" aria-label="Respuesta posible" aria-describedby="basic-addon2" formControlName="possibleAnswer" onkeydown="if ((event.keyCode >= 65 && event.keyCode <= 90 ) || (event.keyCode >= 97 && event.keyCode <= 122 ) || event.keyCode == 8 || event.key == 'Ñ' || event.key == 'ñ' ) return true
								else return false">

					<div class="input-group-append" *ngIf="possibleAnswers.length<4">
					   	<button class="btn btn-outline-secondary" type="button" (click)="addPossibleAnswer()">Agregar</button>
					</div>
					<div class="input-group-append" *ngIf="possibleAnswers.length>3">
						    <button class="btn btn-outline-secondary" type="button" disabled>Agregar</button>
					</div>
				</div>
				
				<div class="row mb-4" style="text-align: center;">
				    <div class="col">
				        <button type="button" class="btn btn-secondary selected-button" disabled color="accent">{{ correctAnswer.word }}</button>

					    <ng-container *ngFor="let word of possibleAnswers">
					        <button *ngIf="!word.hidden" type="button" class="btn btn-secondary submitButton" color="accent" (click)="deletePossibleAnswer(word)">{{ word.word }}</button>
					    </ng-container>
							
				    </div>
	    		</div>	
			</div>
			
			<div *ngIf="possibleAnswers.length===4" class="row submit-button">
				<button type="submit" class="btn btn-success submitButton" color="accent">Modificar</button>		
			</div>
		</form>
		
	</div>
</div>