<div class="row">
			
    <div class="col-sm-12 mb-3">
        <ul class="list-group" *ngFor="let activity of activities; let i = index">

            <li *ngIf="selectedAnswers[i].correct" class="list-group-item list-group-item-success mb-1">
                <div class="text-center">
                    <h4 *ngIf="activity.difficulty>0.5">¡Impresionante!</h4>
                    <h4 *ngIf="activity.difficulty<=0.5">¡Acertaste!</h4>
                </div>
                <hr>
                <h5 class="mb-1"><strong>Tu respuesta: {{selectedAnswers[i].word}}</strong></h5>
                <h5 class="mb-1">Texto completo: {{activity.fullString}}</h5>
            </li>
          
            <li *ngIf="!selectedAnswers[i].correct" class="list-group-item list-group-item-danger mb-1">
                <div class="text-center">
                    <h4 *ngIf="activity.difficulty>0.5">¡Casi lo tienes!</h4>
                    <h4 *ngIf="activity.difficulty<=0.5">¡Sigue intentando!</h4>
                </div>
                <hr>
                <div class="d-flex w-100 justify-content-between">
                      <!--<h5 class="mb-1">Respuesta: {{selectedAnswers[i].word}}</h5>-->
                      <h5 class="mb-1">Tu respuesta: {{selectedAnswers[i].word}}</h5>

                      <h5><strong>Respuesta correcta: {{activity.possibleAnswers[0].word}}</strong></h5>
                </div>
                <h5 class="mb-1">Texto completo: {{activity.fullString}}</h5>
                <h5 class="mb-1">Nota importante: {{activity.comment}}</h5>
            </li>

        </ul>
    </div>
</div>