<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Nueva actividad</li>
    </ol>
</nav> 

<div class="container mt-5">
	<mat-spinner *ngIf="loading" class="spinner" style="margin:0 auto;" color='primary'>
	</mat-spinner>

	<div *ngIf="!loading&&!preview" class="container-fixed-footer">
		<form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
			<div class="input-group mb-2" tooltip="Dificultad de la actividad">
				<div class="input-group-prepend">
			    	<label class="input-group-text" for="inputGroupSelect01">Dificultad&nbsp;&nbsp;&nbsp;&nbsp;</label>
			  	</div>
				<select class="custom-select" formControlName="difficulty" id="inputGroupSelect01">
					<option></option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>

				</select>
			</div>

			<div class="input-group mb-2" tooltip="Comentario mostrado al estudiante en caso de responder incorrectamente. Máximo 100 caracteres">
				<div class="input-group-prepend">
					<span class="input-group-text">Comentario</span>
					<span class="input-group-text"><code>{{comment.value.length}}/100</code></span>
				</div>
				<textarea class="form-control" aria-label="With textarea" formControlName="comment" #comment onkeydown="if (event.keyCode == 13) return false"></textarea>
			</div>

			<div *ngIf="activityForm.controls['comment'].hasError('maxlength')" class="alert alert-warning mb-2" role="alert">
				  ¡Tienes más de los caracteres permitidos!
			</div>

			<div class="input-group mb-2">
				  	
				<textarea tooltip="Texto que conformará la actividad. Presionar el botón 'Dividir' tantas veces se quiera para separar el texto en palabras. Máximo 100 caracteres" class="form-control" placeholder="Ingrese texto" aria-label="With textarea" formControlName="fullString" #fullString onkeydown="if (event.keyCode == 13) return false"></textarea>

				  	<div class="input-group-append">
				    	<button *ngIf="activityForm.controls['fullString'].hasError('maxlength')" disabled class="btn btn-primary btn-sm" type="button" color="accent">Dividir</button>
				    	<button *ngIf="!activityForm.controls['fullString'].hasError('maxlength')" class="btn btn-primary btn-sm" type="button" color="accent" (click)="stringTokenizer()">Dividir</button>
					</div>
			</div>

			<div *ngIf="activityForm.controls['fullString'].hasError('maxlength')" class="alert alert-warning mb-2" role="alert">
				  ¡Tienes más de los caracteres permitidos!
			</div>


			<div *ngIf="activityWords.length>0" class="mb-2" style="text-align: center;">

	    			<div class="row">
				        <div class="col">
				        	<h6>Selecciona la palabra incorrecta</h6>
					        <ng-container *ngFor="let word of activityWords">
					        	<button *ngIf="word.clickeable" type="button" class="btn btn-secondary submitButton mb-2" [ngClass]="{'selected-button': word.hidden}" color="accent" (click)="hideAnswer(word)">{{ word.word }}</button>
					        </ng-container>			
				    	</div>
	    			</div>	

			</div>
			<div *ngIf="correctAnswer" class="clearfix text-center">

					<h6>Ingresa la respuesta correcta</h6>
			
					<div class="input-group mb-2">
						  	
							<input type="text" class="form-control" placeholder="Ingrese respuesta a agregar" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="possibleAnswer" onkeydown="if ((event.keyCode >= 65 && event.keyCode <= 90 ) || (event.keyCode >= 97 && event.keyCode <= 122 ) || event.keyCode == 8 || event.key == 'Ñ' || event.key == 'ñ' ) return true
								else return false">

						  	<div class="input-group-append" *ngIf="possibleAnswers.length===0">
						    	<button class="btn btn-outline-secondary" type="button" (click)="addPossibleAnswer()">Agregar</button>
							</div>
							<div class="input-group-append" *ngIf="possibleAnswers.length>0">
						    	<button class="btn btn-outline-secondary" type="button" disabled>Agregar</button>
							</div>
					</div>

					<div class="row mb-4" style="text-align: center;">
				        <div class="col">
				        	<button type="button" class="btn btn-secondary selected-button" disabled>{{ correctAnswer.word }}</button>
					  		
							<button *ngIf="possibleAnswers.length>0" type="button" class="btn btn-secondary submitButton" color="accent" (click)="deletePossibleAnswer()">{{ possibleAnswers[0].word }}</button>
							
				    	</div>
	    			</div>	

			</div>
			
			<div *ngIf="possibleAnswers.length===1" class="row submit-button">
				<button type="submit" class="btn btn-success submitButton">Agregar</button>		
			</div>
		</form>
	</div>

	<div *ngIf="preview">
		<div class="row justify-content-center">

			<div class="col-md-9">

				<div class="card">
				  	<div class="card-body">
				  		<h4 class="card-title text text-center mb-3"><strong>Indicaciones</strong></h4>
				  		<ul class="list-group list-group-flush mb-3">
						  	<li class="list-group-item d-flex">
						    	<span class="badge badge-primary badge-pill align-self-center mr-4">1</span>
						    	Todos los campos del formulario son requeridos
						  	</li>
						  	<li class="list-group-item d-flex">
						    	<span class="badge badge-primary badge-pill align-self-center mr-4">2</span>
						    	El comentario que se ingresa se le muestra al estudiante cuando responde de manera incorrecta la actividad
						  	</li>
						  	<li class="list-group-item d-flex">
						    	<span class="badge badge-primary badge-pill align-self-center mr-4">3</span>
						    	Debes agregar un texto que contenga una palabra mal escrita. Este texto es el que se le mostrará al estudiante cuando repase la actividad
						  	</li>
						  	<li class="list-group-item d-flex">
						    	<span class="badge badge-primary badge-pill align-self-center mr-4">3</span>
						    	Selecciona la palabra incorrecta del texto, y luego agrega la forma correcta de escribir dicha palabra
						  	</li>
						</ul>
						<div class="alert alert-info mb-3" role="alert">
						  <strong>Importante</strong>: Tienes mensajes de ayuda e información al pasar el mouse sobre cualquiera de los elementos del formulario
						</div>
						<div class="message">
							
				    		<button class="btn btn-primary" (click)="preview=false">Entendido</button>

						</div>
				  	</div>
				</div>
				
			</div>
			
		</div>
	</div>

</div>