.container {
    margin-bottom:60px;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fixed-footer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-button {
	color: #fff;
	background-color: blue;
	border-color: blue;
}

.message {
    text-align: center;
}