<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Perfil</li>
    </ol>
</nav>


<div class="container mt-5 container-fixed-footer">

    <!--<alert *ngIf="loading" type="info">
      <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </alert>-->

    <!--<div *ngIf="!loading&&generalChartData.length>0" class="row">


        <div>
            <h4>Repasos: {{generalChartData[0]+generalChartData[1]}}</h4>
        </div>

        <div style="display: block" class="col col-md-6">
            <canvas baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"
                    [colors]="doughnutChartColors"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                        
            </canvas>
        </div>
        
    </div>

    <div *ngIf="!loading&&generalChartData.length>0" class="row">
        <div class="col col-md-6">
            <label class="mb-3">Historial de Correctas e Incorrectas</label>
        </div>
        <div style="display: block" class="col col-md-6">
            <canvas baseChart
                    [data]="generalChartData"
                    [labels]="generalChartLabels"
                    [chartType]="generalChartType"
                    [colors]="generalChartColors"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                        
            </canvas>
        </div>     
        
    </div>

    <div *ngIf="!loading&&generalChartData.length<1" class="alert alert-info" role="alert">
        ¡Aún no hay disponible datos de actividad!
    </div>-->
    

    <div class="card bg-light mb-3">
        <!--<div class="card-header">Perfil</div>-->
        <div class="card-header">
            <h5 class="card-title"><strong>{{fullName()}}, 4° grado</strong></h5>
            <h6 class="card-subtitle text-muted">{{username()}}</h6>
        </div>

        <div class="card-body">
            
            <!--<p class="card-text ml-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->

            <h5 class="card-title"><strong>Historial de Actividad</strong></h5>

            <!--<div *ngIf="!loading&&generalChartData.length>0" class="row align-items-center">
                

                <div class="col col-md-6">-->
                    <!--<label class="mb-3">Historial de Correctas e Incorrectas</label>-->
                    <!--<ul class=" mb-2">
                        <li style="list-style: none" class="text-dark">Actividades repasadas: {{numberOfActivities}}</li>
                        <li style="list-style: none" class="text-dark mt-4">Actividades de errores repasadas: {{numberOfMistakesActivities}}</li>
                        <li style="list-style: none" class="text-dark mt-4">Actividades de selección repasadas: {{numberOfSelectionActivities}}</li>
                        <li style="list-style: none" class="text-dark mt-4">Repasos realizados: {{generalChartData[0]+generalChartData[1]}}</li>
                    </ul>
                </div>
                
                    
            </div>-->

            <!--<hr>-->

            <div>
                <tabset>
                    <tab heading="Datos generales" class="mt-2" (select)="onSelect($event)">

                        <mat-spinner *ngIf="loading" class="spinner" style="margin:0 auto;" color='accent'>
                        </mat-spinner>

                        <div *ngIf="!loading&&generalChartData.length>0" class="row align-items-center">
                
                            <div class="col col-md-6">
                                <ul class=" mb-2">
                                    <li style="list-style: none" class="text-dark">Actividades repasadas: {{numberOfActivities}}</li>
                                    <li style="list-style: none" class="text-dark mt-4">Actividades de errores repasadas: {{numberOfMistakesActivities}}</li>
                                    <li style="list-style: none" class="text-dark mt-4">Actividades de selección repasadas: {{numberOfSelectionActivities}}</li>
                                    <li style="list-style: none" class="text-dark mt-4">Repasos realizados: {{generalChartData[0]+generalChartData[1]}}</li>
                                </ul>
                            </div>
                                
                        </div>

                        <hr>
                        
                        <div *ngIf="!loading&&generalChartData.length>0" class="row align-items-center mb-5">
                            <div style="display: block" class="col-md-8 offset-md-2">
                                <h5 style="text-align: center;">Historial de respuestas</h5>
                                <canvas baseChart
                                    [data]="generalChartData"
                                    [labels]="generalChartLabels"
                                    [chartType]="generalChartType"
                                    [colors]="generalChartColors"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)">
                                                
                                </canvas>
                            </div>  
                        </div>

                        <div *ngIf="!loading&&(mistakesChartData.length>0&&selectionChartData.length<1)" class="row align-items-center mb-5">
                            <div style="display: block" class="col-md-8 offset-md-2">
                                <h5 style="text-align: center;">Historial de actividades de error</h5>
                                <canvas baseChart
                                    [data]="mistakesChartData"
                                    [labels]="mistakesChartLabels"
                                    [chartType]="mistakesChartType"
                                    [colors]="mistakesChartColors"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)">
                                                
                                </canvas>
                            </div>  
                        </div>

                        <div *ngIf="!loading&&(mistakesChartData.length<1&&selectionChartData.length>0)" class="row align-items-center mb-5">
                            <div style="display: block" class="col-md-8 offset-md-2">
                                <h5 style="text-align: center;">Historial de actividades de completación</h5>
                                <canvas baseChart
                                    [data]="selectionChartData"
                                    [labels]="selectionChartLabels"
                                    [chartType]="selectionChartType"
                                    [colors]="selectionChartColors"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)">
                                                
                                </canvas>
                            </div>  
                        </div> 

                        <div *ngIf="!loading&&(mistakesChartData.length>0&&selectionChartData.length>0)" class="row align-items-center">
                                
                                <div class="col-md-6 mb-3">
                                    <h5 style="text-align: center;">Actividades de error</h5>
                                    <div style="display: block"> 
                                        <canvas baseChart
                                            [data]="mistakesChartData"
                                            [labels]="mistakesChartLabels"
                                            [chartType]="mistakesChartType"
                                            [colors]="mistakesChartColors"
                                            [legend]="true"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)">
                                                    
                                        </canvas>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <h5 style="text-align: center;">Actividades de completación</h5>
                                    <div style="display: block"> 
                                        <canvas baseChart
                                            [data]="selectionChartData"
                                            [labels]="selectionChartLabels"
                                            [chartType]="selectionChartType"
                                            [colors]="selectionChartColors"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)">
                                                    
                                        </canvas>
                                    </div>
                                </div>
                        </div> 

                    </tab>
                    <tab heading="Datos semanales" class="mt-2" (select)="onSelect($event)">
                        <mat-spinner *ngIf="loading" class="spinner" style="margin:0 auto;" color='accent'>
                        </mat-spinner>

                        <div *ngIf="!loading&&generalChartData.length>0" class="row align-items-center">
                
                            <div class="col col-md-6">
                                <ul class=" mb-2">
                                    <li style="list-style: none" class="text-dark">Actividades repasadas: {{numberOfWeeklyActivities}}</li>
                                    <li style="list-style: none" class="text-dark mt-4">Actividades de errores repasadas: {{numberOfWeeklyMistakesActivities}}</li>
                                    <li style="list-style: none" class="text-dark mt-4">Actividades de selección repasadas: {{numberOfWeeklySelectionActivities}}</li>
                                    <li style="list-style: none" class="text-dark mt-4">Repasos realizados: {{generalWeeklyChartData[0]+generalWeeklyChartData[1]}}</li>
                                </ul>
                            </div>
                                
                        </div>

                        <hr>
                        
                        <div *ngIf="!loading&&generalWeeklyChartData.length>0" class="row align-items-center mb-5">
                            <div style="display: block" class="col-md-8 offset-md-2">
                                <h5 style="text-align: center;">Historial de respuestas</h5>
                                <canvas baseChart
                                    [data]="generalWeeklyChartData"
                                    [labels]="generalWeeklyChartLabels"
                                    [chartType]="generalWeeklyChartType"
                                    [colors]="generalWeeklyChartColors"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)">
                                                
                                </canvas>
                            </div>  
                        </div>

                        <div *ngIf="!loading&&(mistakesWeeklyChartData.length>0&&selectionWeeklyChartData.length<1)" class="row align-items-center mb-5">
                            <div style="display: block" class="col-md-8 offset-md-2">
                                <h5 style="text-align: center;">Historial de actividades de error</h5>
                                <canvas baseChart
                                    [data]="mistakesWeeklyChartData"
                                    [labels]="mistakesWeeklyChartLabels"
                                    [chartType]="mistakesWeeklyChartType"
                                    [colors]="mistakesWeeklyChartColors"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)">
                                                
                                </canvas>
                            </div>  
                        </div>

                        <div *ngIf="!loading&&(mistakesWeeklyChartData.length<1&&selectionWeeklyChartData.length>0)" class="row align-items-center mb-5">
                            <div style="display: block" class="col-md-8 offset-md-2">
                                <h5 style="text-align: center;">Historial de actividades de completación</h5>
                                <canvas baseChart
                                    [data]="selectionWeeklyChartData"
                                    [labels]="selectionWeeklyChartLabels"
                                    [chartType]="selectionWeeklyChartType"
                                    [colors]="selectionWeeklyChartColors"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)">
                                                
                                </canvas>
                            </div>  
                        </div> 

                        <div *ngIf="!loading&&(mistakesWeeklyChartData.length>0&&selectionWeeklyChartData.length>0)" class="row align-items-center">
                                <!--<div style="display: block" class="col-md-8 offset-md-2">
                                    <canvas baseChart
                                        [data]="generalChartData"
                                        [labels]="generalChartLabels"
                                        [chartType]="generalChartType"
                                        [colors]="generalChartColors"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)">
                                                
                                    </canvas>
                                </div>-->
                                <div class="col-md-6 mb-3">
                                    <h5 style="text-align: center;">Actividades de error</h5>
                                    <div style="display: block"> 
                                        <canvas baseChart
                                            [data]="mistakesWeeklyChartData"
                                            [labels]="mistakesWeeklyChartLabels"
                                            [chartType]="mistakesWeeklyChartType"
                                            [colors]="mistakesWeeklyChartColors"
                                            [legend]="true"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)">
                                                    
                                        </canvas>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <h5 style="text-align: center;">Actividades de completación</h5>
                                    <div style="display: block"> 
                                        <canvas baseChart
                                            [data]="selectionWeeklyChartData"
                                            [labels]="selectionWeeklyChartLabels"
                                            [chartType]="selectionWeeklyChartType"
                                            [colors]="selectionWeeklyChartColors"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)">
                                                    
                                        </canvas>
                                    </div>
                                </div>
                        </div> 
                    </tab>
                </tabset>
            </div>

            <div *ngIf="!loading&&generalChartData.length<1">
                <div class="alert alert-info" role="alert">
                    ¡Aún no has tenido actividad!
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" [routerLink]="['/activities']">Ir a actividades</button>
                </div>
            </div>

        </div>
    </div>


</div>