<div class="container mt-5">

	<form class="statistics-form">
	  <div class="form-row">
	    <div class="col">
	      <select class="custom-select" formControlName="difficulty" id="inputGroupSelect01">
				<!--<option selected>Seleccionar...</option>-->
				<option>Unidad</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>

			</select>
	    </div>
	    <div class="col">
	      <select class="custom-select" formControlName="difficulty" id="inputGroupSelect01">
				<!--<option selected>Seleccionar...</option>-->
				<option>Periodo</option>
				<option value="1">Horas</option>
				<option value="2">Días</option>
				<option value="3">Semanas</option>
				<option value="4">Meses</option>
				<option value="5">Años</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>

			</select>
	    </div>
	    <div class="coll">
	    	<button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
	    </div>
	  </div>
	</form>
	
</div>